
.tag-container[data-v-3a5e7e86] {
	padding: 5px;
	margin-bottom: 30px;
}
.progress-wrap[data-v-3a5e7e86] {
	background: #fff;
	padding-right: 32px;
}
quark-progress[data-v-3a5e7e86] {
	width: 100%;
	margin: 16px;
	margin-right: 0;
}
.green[data-v-3a5e7e86] {
	--progress-box-background: yellowgreen;
	--progress-margin-left: 6px;
}
.auto[data-v-3a5e7e86] {
	width: 95%;
	height: 6px;
}
.wrap[data-v-3a5e7e86] {
	display: flex;
	align-items: center;
}
.percent[data-v-3a5e7e86] {
	color: yellowgreen;
}
