
.list-list {
	padding: 0 16px;
	height: 60px;
	line-height: 60px;
	margin: 0 16px;
	text-align: center;
	border-bottom: 1px solid rgb(235, 237, 240);
}
.list-text {
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	box-sizing: border-box;
	color: #879099;
}
