.demo-dialog .custom-footer {
  margin-top: 20px;
  background-color: #ddd;
  font-size: 14px;
  padding: 10px;
}
.demo-dialog .dialog-close {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 8px;
  top: 8px;
}
.demo-dialog img {
  width: 288px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}