.demo-checkbox .checkbox-container {
  background: #fff;
  padding: 10px;
  border-radius: 4px;
}
.demo-checkbox .checkbox-container quark-checkbox {
  margin-right: 20px;
}
.demo-checkbox .picked {
  color: #666;
  font-size: 12px;
  margin-top: 15px;
}
.demo-checkbox .my-color {
  --checkbox-background: linear-gradient(225deg, #ff918d 0%, #f54640 100%);
}