.radio-demo .radio-container {
  background: #fff;
  padding: 10px;
  border-radius: 4px;
}
.radio-demo .radio-container quark-radio {
  margin-right: 20px;
}
.radio-demo .my-color {
  --radio-background: linear-gradient(225deg, #ff918d 0%, #f54640 100%);
}
.radio-demo .first-radio {
  margin-right: 8px;
}