.uploader-demo {
  background-color: #fff !important;
}
.uploader-demo quark-button {
  margin-left: 10px;
}
.uploader-demo quark-uploader {
  --uploader-border-width: 0px;
}
.uploader-demo .closeimg {
  --uploader-delete-top: 0px;
  --uploader-delete-right: 0px;
  --uploader-delete-wrap-width: 14px;
  --uploader-delete-wrap-height: 14px;
  --uploader-delete-background: transparent;
  --uploader-delete-left-radius: 12px;
}