.skeleton-demo .quark-cell {
  display: flex;
}
.skeleton-demo quark-switch {
  margin-bottom: 20px;
}
.skeleton-demo .demo-preview {
  display: flex;
}
.skeleton-demo .demo-preview img {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  margin-right: 16px;
}
.skeleton-demo .demo-preview .demo-content h3 {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
}
.skeleton-demo .demo-preview .demo-content p {
  margin: 13px 0 0;
  font-size: 14px;
  line-height: 20px;
}