.scoped-form[data-v-4b5d5854] {
  padding-top: 48px !important;
}
.scoped-form h2[data-v-4b5d5854] {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #909ca4;
  padding: 0 10px;
  font-weight: norma;
}
.scoped-form quark-form[data-v-4b5d5854] {
  background: #fff;
}
.scoped-form .sapce[data-v-4b5d5854] {
  margin-bottom: 10px;
}
.scoped-form .submit-wrap[data-v-4b5d5854] {
  display: flex;
  justify-content: center;
}
.scoped-form .submit[data-v-4b5d5854] {
  width: 100%;
  height: 40px;
  margin-top: 8px;
}
.scoped-form .type[data-v-4b5d5854] {
  background: #fff;
}
.scoped-form .line[data-v-4b5d5854] {
  height: 1px;
  width: calc(100% - 32px);
  margin: auto;
}
.scoped-form .theme[data-v-4b5d5854] {
  --field-label-width: 100px;
  --field-label-text-color: green;
  --field-label-font-size: 18px;
  --field-label-margin-right: 10px;
  --field-input-text-color: #999;
  --field-input-font-size: 20px;
  --field-placeholder-text-color: red;
  --field-placeholder-font-size: 12px;
  --field-disabled-text-color: #eee;
}
.scoped-form .oneLine[data-v-4b5d5854] {
  --field-input-align: center;
}
.scoped-form .label[data-v-4b5d5854] {
  font-size: 16px;
  min-width: 119px;
  margin-right: 12px;
  font-weight: 500;
  color: #242729;
}
.scoped-form .label span[data-v-4b5d5854] {
  margin: 0;
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #879099;
}
.scoped-form .form-item[data-v-4b5d5854] {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 8px 16px;
  --uploader-width: 60px;
  --uploader-height: 60px;
}
.scoped-form .form-item .right[data-v-4b5d5854] {
  flex: 1;
}
.scoped-form .form-item span[data-v-4b5d5854] {
  font-size: 15px;
  text-align: left;
  margin-right: 12px;
  color: #242729;
  display: inline-block;
  width: 119px;
}
.scoped-form .form-item quark-checkbox[data-v-4b5d5854] {
  font-size: 12px;
  margin-right: 8px;
}
.scoped-form .form-item quark-radio[data-v-4b5d5854] {
  margin-right: 8px;
}
.scoped-form .form-item quark-cell[data-v-4b5d5854] {
  width: 200px;
  flex: 1;
}
.scoped-form .form-item quark-picker[data-v-4b5d5854] {
  width: auto;
}