.popup-demo .demo-buttons quark-button {
  margin-right: 6px;
  margin-top: 6px;
}
.popup-demo .demo-buttons {
  margin-bottom: 24px;
}
.popup-demo .popup-body {
  flex: 1;
  padding: 0 16px 32px;
}
.popup-demo .popup-body h4 {
  font-size: 14px;
  font-weight: 400;
  color: #242629;
}
.popup-demo .popup-body p {
  font-size: 12px;
  color: #879099;
}